.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 3vh 0;
  span {
    color: rgb(136, 136, 136);
    font-size: 1rem;
    padding: 1rem;
  }
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(136, 136, 136);
}
.separator::before {
  margin-right: 1rem;
  margin-left: 2rem;
}
.separator::after {
  margin-right: 2rem;
  margin-left: 1rem;
}
