.wrapper {
  // // font-family: "LogoType";
  // width: 100%;
  margin: 0 auto;
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
  .main {
    // width: 100%;
    margin: 0 auto;
    padding-top: 85px;
    // font-size: 5vw;
    // background: rgb(252, 245, 227);
    @media screen and (max-width: 960px) {
      // max-width: 90%;
      margin: 0 auto;
      flex-direction: column;
    }
    @media screen and (max-width: 640px) {
    }
  }
}
