.signup {
  font-size: 3vw;
  width: 100%;
  .signinButton {
    margin: 0 auto;
    cursor: pointer;
    background-image: url("../../../images/google/btn_google_signin_dark_normal_web@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 2px;
    width: 240px;
    height: 60px;
    border: none;
    &:hover {
      background-image: url("../../../images/google/btn_google_signin_dark_focus_web@2x.png");
    }
    &:active {
      background-image: url("../../../images/google/btn_google_signin_dark_pressed_web@2x.png");
    }
  }
  input {
    font-size: 2vw;
    padding: 10px;
  }
  input {
    display: block;
    margin: 0 auto;
    margin: 5vw;
    width: 80%;
  }
  button {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  button[type="signup"] {
    border: none;
    background-color: white;
  }
}
