.numericUpDown[type='enable'] {
  // border: solid 2px #627295;
  display: inline-block;
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    width: 28%;
    text-align: center;
  }
  input[type='button'] {
    cursor: pointer;
    color: white;
    background-color: #c4c4c4;
    display: inline-block;
    text-decoration: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    height: 50px;
    &:active {
      /*ボタンを押したとき*/
      // -webkit-transform: translateY(4px);
      // transform: translateY(4px);/*下に動く*/
      // border-bottom: none;/*線を消す*/
    }
  }
  input[type='number'] {
    height: 44px;
  }
}

.numericUpDown[type='disable'] {
  display: inline-block;
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    width: 28%;
    text-align: center;
  }
  input[type='number'] {
    background-color: gray;
  }
  input[type='button'] {
    color: white;
    background-color: #c4c4c4;
    display: inline-block;
    text-decoration: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    height: 50px;
    &:active {
      /*ボタンを押したとき*/
      // -webkit-transform: translateY(4px);
      // transform: translateY(4px);/*下に動く*/
      // border-bottom: none;/*線を消す*/
    }
  }
  input[type='number'] {
    height: 44px;
  }
}
